.filled-white {
  background-color: white;
}

.filled-clear {
  background-color: transparent;
}

a.filled-clear:hover:not(:disabled),
button.filled-clear:hover:not(:disabled)
/* ,.filled-clear:focus:not(:disabled) */
{
  background-color: rgba(0,0,0,0.1);
}

a.filled-clear:active:not(:disabled),
button.filled-clear:active:not(:disabled) {
  background-color: rgba(0,0,0,0.2);
}

.filled-red {
  color: white;
  background-color: #a00;
}

.filled-red:disabled {
  filter: grayscale(80%) brightness(20);
}

a.filled-red:hover:not(:disabled),
button.filled-red:hover:not(:disabled)
/* ,.filled-red:focus:not(:disabled) */
{
  background-color: #900;
}

a.filled-red:active:not(:disabled),
button.filled-red:active:not(:disabled) {
  background-color: #800;
}

.filled-green {
  color: white;
  background-color: #0a0;
}

.filled-green:disabled {
  filter: grayscale(80%) brightness(20);
}

a.filled-green:hover:not(:disabled),
button.filled-green:hover:not(:disabled)
/* ,.filled-green:focus:not(:disabled) */
{
  background-color: #090;
}

a.filled-green:active:not(:disabled),
button.filled-green:active:not(:disabled) {
  background-color: #080;
}

.filled-blue {
  color: white;
  background-color: #00a;
}

.filled-blue:disabled {
  filter: grayscale(80%) brightness(20);
}

a.filled-blue:hover:not(:disabled),
button.filled-blue:hover:not(:disabled)
/* ,.filled-blue:focus:not(:disabled) */
{
  background-color: #009;
}

a.filled-blue:active:not(:disabled),
button.filled-blue:active:not(:disabled) {
  background-color: #008;
}

.accented-clear {
  accent-color: transparent;
}

a.accented-clear:hover:not(:disabled),
button.accented-clear:hover:not(:disabled)
/* ,.accented-clear:focus:not(:disabled) */
{
  accent-color: rgba(0,0,0,0.2);
}

a.accented-clear:active:not(:disabled),
button.accented-clear:active:not(:disabled) {
  accent-color: rgba(0,0,0,0.3);
}

.accented-red {
  accent-color: #a00;
}

.accented-red:disabled {
  filter: grayscale(80%) brightness(20);
}

a.accented-red:hover:not(:disabled),
button.accented-red:hover:not(:disabled)
/* ,.accented-red:focus:not(:disabled) */
{
  accent-color: #900;
}

a.accented-red:active:not(:disabled),
button.accented-red:active:not(:disabled) {
  accent-color: #800;
}

.accented-green {
  accent-color: #0a0;
}

.accented-green:disabled {
  filter: grayscale(80%) brightness(20);
}

a.accented-green:hover:not(:disabled),
button.accented-green:hover:not(:disabled)
/* ,.accented-green:focus:not(:disabled) */
{
  accent-color: #090;
}

a.accented-green:active:not(:disabled),
button.accented-green:active:not(:disabled) {
  accent-color: #080;
}

.accented-blue {
  accent-color: #00a;
}

.accented-blue:disabled {
  filter: grayscale(80%) brightness(20);
}

a.accented-blue:hover:not(:disabled),
button.accented-blue:hover:not(:disabled)
/* ,.accented-blue:focus:not(:disabled) */
{
  accent-color: #009;
}

a.accented-blue:active:not(:disabled),
button.accented-blue:active:not(:disabled) {
  accent-color: #008;
}
