.hidden {
  display: none;
}

.flexbox {
  display: flex;
}

.block {
  display: block;
}

.inline {
  display: inline;
}

.text-center {
  text-align: center;
}

.text-start {
  text-align: start;
}

.text-end {
  text-align: end;
}
