.specific-margin.margin-right-0\.25,
.specific-margin.margin-right-\.25 {
  margin-right: 0.25rem;
}

.specific-margin.margin-right-0\.5,
.specific-margin.margin-right-\.5 {
  margin-right: 0.5rem;
}

.specific-margin.margin-right-1 {
  margin-right: 1rem;
}

.specific-margin.margin-right-1\.5 {
  margin-right: 1.5rem;
}

.specific-margin.margin-right-2 {
  margin-right: 2rem;
}

.specific-margin.margin-right-2\.5 {
  margin-right: 2.5rem;
}

.specific-margin.margin-right-3 {
  margin-right: 3rem;
}

.specific-margin.margin-right-3\.5 {
  margin-right: 3.5rem;
}

.specific-margin.margin-right-4 {
  margin-right: 4rem;
}

.specific-margin.margin-right-4\.5 {
  margin-right: 4.5rem;
}

.specific-margin.margin-right-5 {
  margin-right: 5rem;
}

.specific-margin.margin-right-5\.5 {
  margin-right: 5.5rem;
}

.specific-margin.margin-right-6 {
  margin-right: 6rem;
}

.specific-margin.margin-right-7 {
  margin-right: 7rem;
}

.specific-margin.margin-right-8 {
  margin-right: 8rem;
}

.specific-margin.margin-right-9 {
  margin-right: 9rem;
}

.specific-margin.margin-right-10 {
  margin-right: 10rem;
}

.specific-margin.margin-right-11 {
  margin-right: 11rem;
}

.specific-margin.margin-right-12 {
  margin-right: 12rem;
}

.specific-margin.margin-right-13 {
  margin-right: 13rem;
}

.specific-margin.margin-right-14 {
  margin-right: 14rem;
}

.specific-margin.margin-right-15 {
  margin-right: 15rem;
}

.specific-margin.margin-right-16 {
  margin-right: 16rem;
}

.specific-margin.margin-right-17 {
  margin-right: 17rem;
}

.specific-margin.margin-right-18 {
  margin-right: 18rem;
}

.specific-margin.margin-right-19 {
  margin-right: 19rem;
}

.specific-margin.margin-right-20 {
  margin-right: 20rem;
}
