.specific-padding.padding-left-0\.25,
.specific-padding.padding-left-\.25 {
  padding-left: 0.25rem;
}

.specific-padding.padding-left-0\.5,
.specific-padding.padding-left-\.5 {
  padding-left: 0.5rem;
}

.specific-padding.padding-left-1 {
  padding-left: 1rem;
}

.specific-padding.padding-left-1\.5 {
  padding-left: 1.5rem;
}

.specific-padding.padding-left-2 {
  padding-left: 2rem;
}

.specific-padding.padding-left-2\.5 {
  padding-left: 2.5rem;
}

.specific-padding.padding-left-3 {
  padding-left: 3rem;
}

.specific-padding.padding-left-3\.5 {
  padding-left: 3.5rem;
}

.specific-padding.padding-left-4 {
  padding-left: 4rem;
}

.specific-padding.padding-left-4\.5 {
  padding-left: 4.5rem;
}

.specific-padding.padding-left-5 {
  padding-left: 5rem;
}

.specific-padding.padding-left-5\.5 {
  padding-left: 5.5rem;
}

.specific-padding.padding-left-6 {
  padding-left: 6rem;
}

.specific-padding.padding-left-7 {
  padding-left: 7rem;
}

.specific-padding.padding-left-8 {
  padding-left: 8rem;
}

.specific-padding.padding-left-9 {
  padding-left: 9rem;
}

.specific-padding.padding-left-10 {
  padding-left: 10rem;
}

.specific-padding.padding-left-11 {
  padding-left: 11rem;
}

.specific-padding.padding-left-12 {
  padding-left: 12rem;
}

.specific-padding.padding-left-13 {
  padding-left: 13rem;
}

.specific-padding.padding-left-14 {
  padding-left: 14rem;
}

.specific-padding.padding-left-15 {
  padding-left: 15rem;
}

.specific-padding.padding-left-16 {
  padding-left: 16rem;
}

.specific-padding.padding-left-17 {
  padding-left: 17rem;
}

.specific-padding.padding-left-18 {
  padding-left: 18rem;
}

.specific-padding.padding-left-19 {
  padding-left: 19rem;
}

.specific-padding.padding-left-20 {
  padding-left: 20rem;
}
