.specific-padding.padding-right-0\.25,
.specific-padding.padding-right-\.25 {
  padding-right: 0.25rem;
}

.specific-padding.padding-right-0\.5,
.specific-padding.padding-right-\.5 {
  padding-right: 0.5rem;
}

.specific-padding.padding-right-1 {
  padding-right: 1rem;
}

.specific-padding.padding-right-1\.5 {
  padding-right: 1.5rem;
}

.specific-padding.padding-right-2 {
  padding-right: 2rem;
}

.specific-padding.padding-right-2\.5 {
  padding-right: 2.5rem;
}

.specific-padding.padding-right-3 {
  padding-right: 3rem;
}

.specific-padding.padding-right-3\.5 {
  padding-right: 3.5rem;
}

.specific-padding.padding-right-4 {
  padding-right: 4rem;
}

.specific-padding.padding-right-4\.5 {
  padding-right: 4.5rem;
}

.specific-padding.padding-right-5 {
  padding-right: 5rem;
}

.specific-padding.padding-right-5\.5 {
  padding-right: 5.5rem;
}

.specific-padding.padding-right-6 {
  padding-right: 6rem;
}

.specific-padding.padding-right-7 {
  padding-right: 7rem;
}

.specific-padding.padding-right-8 {
  padding-right: 8rem;
}

.specific-padding.padding-right-9 {
  padding-right: 9rem;
}

.specific-padding.padding-right-10 {
  padding-right: 10rem;
}

.specific-padding.padding-right-11 {
  padding-right: 11rem;
}

.specific-padding.padding-right-12 {
  padding-right: 12rem;
}

.specific-padding.padding-right-13 {
  padding-right: 13rem;
}

.specific-padding.padding-right-14 {
  padding-right: 14rem;
}

.specific-padding.padding-right-15 {
  padding-right: 15rem;
}

.specific-padding.padding-right-16 {
  padding-right: 16rem;
}

.specific-padding.padding-right-17 {
  padding-right: 17rem;
}

.specific-padding.padding-right-18 {
  padding-right: 18rem;
}

.specific-padding.padding-right-19 {
  padding-right: 19rem;
}

.specific-padding.padding-right-20 {
  padding-right: 20rem;
}
