.padding-0\.25,
.padding-\.25 {
  padding: 0.25rem;
}

.padding-0\.5,
.padding-\.5 {
  padding: 0.5rem;
}

.padding-1 {
  padding: 1rem;
}

.padding-1\.5 {
  padding: 1.5rem;
}

.padding-2 {
  padding: 2rem;
}

.padding-2\.5 {
  padding: 2.5rem;
}

.padding-3 {
  padding: 3rem;
}

.padding-3\.5 {
  padding: 3.5rem;
}

.padding-4 {
  padding: 4rem;
}

.padding-4\.5 {
  padding: 4.5rem;
}

.padding-5 {
  padding: 5rem;
}

.padding-5\.5 {
  padding: 5.5rem;
}

.padding-6 {
  padding: 6rem;
}

.padding-7 {
  padding: 7rem;
}

.padding-8 {
  padding: 8rem;
}

.padding-9 {
  padding: 9rem;
}

.padding-10 {
  padding: 10rem;
}

.padding-11 {
  padding: 11rem;
}

.padding-12 {
  padding: 12rem;
}

.padding-13 {
  padding: 13rem;
}

.padding-14 {
  padding: 14rem;
}

.padding-15 {
  padding: 15rem;
}

.padding-16 {
  padding: 16rem;
}

.padding-17 {
  padding: 17rem;
}

.padding-18 {
  padding: 18rem;
}

.padding-19 {
  padding: 19rem;
}

.padding-20 {
  padding: 20rem;
}
