.right-1\/4 {
  right: 25%;
}

.right-1\/3 {
  right: 33%;
}

.right-1\/2 {
  right: 50%;
}

.right-2\/3 {
  right: 66%;
}

.right-3\/4 {
  right: 75%;
}

.right-full {
  right: 100%;
}

.right-0 {
  right: 0;
}

.right-1 {
  right: 0.5rem;
}

.right-2 {
  right: 1rem;
}

.right-3 {
  right: 1.5rem;
}

.right-4 {
  right: 2rem;
}

.right-5 {
  right: 2.5rem;
}

.right-6 {
  right: 3rem;
}

.right-7 {
  right: 3.5rem;
}

.right-8 {
  right: 4rem;
}

.right-9 {
  right: 4.5rem;
}

.right-10 {
  right: 5rem;
}

.right-11 {
  right: 5.5rem;
}

.right-12 {
  right: 6rem;
}
